@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Exo2';
    src: url('./fonts/exo2.ttf');
 }


body{
    background-color: #0a2b3e;
    font-family: 'Exo2';
}
.active{
    /* background-color: #38c172; */
    color: #4480ce
}

.link{
    position: relative;
}
.link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #4480ce;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}
.link:hover::after{
    transform: scaleX(1);
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.overlay{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}
.centrale{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 45%;
    top: 50%;
    left: 50%;
    height: 70vh;
    transform: translate(-50%,-50%);
    /* height: 40%; */
}
.centralePost{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 70vw;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%,-50%);
}
.overlayDiscu{
    left: 0;
    top: 8vh;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #f2f2f2;
}
.centraleDiscu{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 90vw;
    top: 50%;
    left: 50%;
    height: 75vh;
    z-index: 1000;
    transform: translate(-50%,-50%);
}
.addphoto{
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 760px) {
    .centrale{
        width: 90%;
    }
    .centralePost{
        width: 90%;
    }
}
.menuParent{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.menuChild{
    position: absolute;
    background-color: #17202a;
    border-radius: 4px;
    width: 20%;
    top: 8vh;
    right: 0%;
    height: 35vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menuResponsiveParent{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.menuResponsiveChild{
    position: absolute;
    background-color: #17202a;
    border-radius: 4px;
    width: 60%;
    top: 8vh;
    right: 0%;
    height: 40vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
